#wrap{
    width:1200px;
    margin: 0 auto;
}

header{
    height:100px;
    background-color:rgb(255,127,80);
}

header > .logo{
    font-weight:bold;
}

.main-menu{
    height:60px;
    background-color:rgb(255,127,80);
    font-size:20px;

}

.main-content{
    weight:1200px;
}


.contents > .insert{
    width: 1000px;
    margin: 0 auto;
}


.contents > .items{
    width: 380px;
    height: 250px;
    border:2px solid rgb(255,127,80);
}

.items > .image_item{
    width:340px;
    height:150px;
    font-weight:bold;
}


.items > .title{
    font-size:15px;
    font-weight:bold;
}

.items > .author{
    color: orangered;
}

.copyright{
    height:100px;

}

